@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*
   This is a breakdown of how the the stylesheet is organized and helps to find
   parts of the styling quickly.  The sections can be quickly found by scrolling
   the far right side of the code.

   SECTIONS: "GENERIC"                   -Styling for elements within the entire page.
             "HEADER"                    -Styling for the elements in the top navigation bar.
                "CONTAINER"
                    "INNER CONTENT"
             "CONTENT"                   -Styling for the elements within the middle of the page (main content).
                CONTAINER
                    "INNER CONTENT"
             "FOOTER"                    -Styling for the elements in the lower information bar (currently unused).
*/




/******************** GENERIC **********************                    GENERIC  */

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  background-image: url("../images/splash.jpg");
  /* background-color: black; */
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

span {
  color: green;
}




/******************** HEADER ************************                    HEADER  */

/* CONTAINER */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 10%;

  background-color: grey;
  border-bottom: 1px solid orange;
}

/* INNER CONTENT */
#header_left {
  display: table;
  vertical-align: center;
  height: 100%;
  width: 100%;

  color: orange;
  background-color: #00264d;
}

#header_right {
  display: grid;
  align-items: center;

  color: white;
  background-color: #00264d;
  font-size: 1em;
}

#logo_name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  height: 100%;
  width: 100%;

  font-size: 2.5em;
}

#search_nav {
  text-align: center;

  color: orange;
}




/******************** CONTENT ************************                  CONTENT  */

/* CONTAINER */
#content {
  display: grid;
  grid-template-columns:  1fr 1fr 2fr 1fr 1fr;

  width: 100%;
  height: 80%;
}

/* INNER CONTENT */
#content_left {
  display: grid;
  justify-items: stretch;

  padding: 5px;
  padding-bottom: 10px;

  background-color: #565656;
  border-radius: 1%;
}

#content_middle {
  text-align: center;

  background-color: rgba(0, 0, 0, .8);
}

#content_right {
  display: grid;
  justify-items: stretch;

  padding: 5px;
  padding-bottom: 10px;

  background-color: #565656;
  border-radius: 1%;
}

#text_input {
  margin-bottom: 5px;
}

.text_Headers {
  padding-bottom: 25px;

  color: white;
  font-size: 2em;
}

.text_titles_light {
  text-align: center;

  background-color: #777777;
}

.text_titles {
  text-align: left;

  color: orange;
  text-shadow: 0px 0px 10px black;
}

.holder {
  padding: 30px;

  font-size: 8px;
  color: #999999;
}

.text_titles_dark {
  text-align: center;

  background-color: #888888;
}

.items_odd {
  padding-left: 5px;

  background-color: #888888;
  font-size: .9em;
  color: white;
}

.items_even {
  padding-left: 5px;

  font-size: .9em;
  background-color: #777777;
  color: white;
}

.special_chars {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  background-color: #888888;
}

.quick_button {
  font-family: 'Times-new-roman';
}

#search_status {
  color: green;
  font-size: 1.5em;
}

.holder {
  background-color: rgba(0, 0, 55, .2);
}

#find_button {
  text-align: center;

  margin-top: 4px;
  padding: 5px;

  background-color: orange;
  color: black;
  border: 1px solid black;
  box-shadow: inset 0px 0px 10px black;
}

#character_input {
  margin-bottom: 4px;
}

.seperator {
  height: 15px;

  background-color: none;
}

#middle_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  height: 70%;
  width: 100%;
}

.item {
  padding-top: 10px;

  color: white;
  border-radius: 10%;
  border: 1px solid grey;
}

.ilvl {
  font-size: 20px;
  font-style: oblique;
  color: orange;
}

#user_summary {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;

  color: white;
  font-size: 1em;
}

#user_eilvl {
  color: orange;
  font-size: 3em;
}

#user_iilvl {
  color: orange;
  font-size: 2em;
}




/******************** FOOTER *************************                   FOOTER  */
#footer {
  display: grid;

  width: 100%;
  height: 10%;

  background-color: #00264d;
  border-top: 1px solid orange;
}
